.grid > div.absolute {
  transition: transform 0.15s ease-in-out;
  top: var(--grid-padding);
  left: var(--grid-padding);
}

.grid > div.absolute {
  transform: translate(
    calc(var(--cell-size-base) * var(--x-pos)),
    calc(var(--cell-size-base) * var(--y-pos))
  );
}

@media (min-width: 768px) {
  .grid > div.absolute {
    transform: translate(
      calc(var(--cell-size-md) * var(--x-pos)),
      calc(var(--cell-size-md) * var(--y-pos))
    );
  }
}